.gifting{
    /* border: 2px solid red; */
    height: auto;
    margin-top: 60px;
}
.gifting > .box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: black;
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
    gap: 20px;
}