.container{
    height: auto;
    margin-top: 20px;
    color: black;
}
.container > .box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: black;
    /* border: 2px solid yellow; */
    width: 82%;
    margin: auto;
    padding-bottom: 50px;
    gap: 20px;
}