.container{
    position: absolute;
    z-index:10000;
    /* border: 2px solid red; */
    width: 200px;
    display: flex;
    
}
.container > p{
    cursor: pointer;
    width: 200px;
    color: white;
}
.container > button{
    background-color: white;
    color:black;
    padding: 8px 20px;
    width: 130px;
    font-size: 12px;
}