*{
    padding: 0;
    margin: 0;
}
.top{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    background-color: black;
    color: white;
    height: 75px;
    /* flex-direction: row; */
}
.top > .logo{
    width: 18%;
    /* border: 2px solid red; */
    text-align: center;
}
.top > .logo > img{
    width: 80%;
}
.top > .search{
    /* border: 2px solid green; */
    width: 52%;
}

.top > .user{
    /* border: 2px solid yellow; */
    width: 20%;
}
.user > h4 > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 400;
}
.top > .btns{
    /* border: 2px solid white; */
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    height: auto;
    padding-right: 30px;
}

/* Bottom Bar */

.bottom{
    background-color: #141414;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 40px;
}
.bottom > a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding-right: 44px;
}