.container{
    background-color: white;
    /* border-radius: 20px; */
    /* border-radius: 2px solid yellow; */
    gap: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 30px;
}
.container > img{
    width: 200px;
    margin: auto;
    border-radius: 10px;
}