.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    /* border: 2px solid red; */
    height: 100vh;
    width: 40%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left > img{
    width: 100%;
}
.right{
    border: 1px solid blue;
    width: 60%;
    height: 100vh;
    background: url(https://media.sugarcosmetics.com/upload/loginPageBackGroundTexture.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.right > img{
    width: 22%;
}
.right > input{
    margin: 10px 0;
    padding:15px 20px;
    width:300px;
    border-radius: 5px;
    border: 1px solid #969696;
}
.right > p{
    width: 80%;
    text-align: center;
    font-size: 14px;
    color: #5a5959;
}
.right > button{
    margin: 40px 0;
    cursor: pointer;
}
